.button {
  background: $COLOR_GRADIENT_PRIMARY;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: none;
  box-shadow: 0 4px 12px 1px rgba(0 ,0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
}
