.parameter-container {
  position: relative;
  width: 100%;
  height: 7px;
  border-radius: 3.5px;
  overflow: hidden;
  background-color: #D8D8D8;

  .inside {
    position: absolute;
    height: 7px;
    left: 0;
    width: 80%;
    background: $COLOR_GRADIENT_PRIMARY
  }
}
