.planeLineContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: transparent;
  z-index: 2;

  .verLine {
    width: 2px;
    height: 100%;
    position: relative;
    background-color: #F3F3F3;
    margin-left: 20px;
    z-index: -10;
  }

  .verLineInside {
     position: absolute;
     top: -100%;
     left: 20px;
     width: 2px;
     height: 100%;
     padding-top: 20px;
     margin-top: 400px;
     background: $COLOR_PRIMARY,
   }

   .planeContainer {
     position: absolute;
     left: 6px;
     top: -10px;
     margin-top: 400px;
   }

   .plane {
     width: 30px;
     height: 30px;
   }

  .textContainer {
     position: absolute;
     left: 24px;
     top: -25px;
     margin-top: 40px;
   }

   .text {
     background: rgba(0,0,0,0);
     color: $COLOR_PRIMARY;
     font-weight: 500;
     height: 35px;
     width: 35px;
     font-size: 11px;
   }
}
