
.simpleCardContainer {
  width: 170px;
  height: 170px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background: white;
  margin-right: 20px;
  box-shadow: 0 4px 12px 1px rgba(0 ,0, 0, 0.16);;

  .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
  }

  .image {
    width: 105%;
    height: 100%;
    object-fit: cover;

  }

  .simpleCardText {
    position: absolute;
    top: 67%;
    left: 0;
    width: 100%;
    padding: 10px;
    color: $COLOR_HEAD_TEXT;
  }
}

