.appHeader-container {
  background: linear-gradient(to right, #FC5B65, #FC4F62);
  z-index: 1000;
  width: 400px;
  height: 250px;
  position: fixed;
  top: 0;
  left: calc(50% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    width: 100%;
    left: 0;
  }

  .logo {
    width: 150px;
    margin-top: 20px;
  }

  .head-text {
    margin-top: 15px;
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
  }

  .text {
    color: white;
    font-size: 0.8rem;
    line-height: 1.4rem;
  }

  .cta-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .appHeader-button{
      width: 100px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      border-radius: 30px;
      border: none;
      box-shadow: 0 4px 12px 1px rgba(0 ,0, 0, 0.16);;
    }

    .button-text {
      color: $COLOR_HEAD_TEXT;
      font-weight: 500;
      font-size: 1.2rem;
    }

    .rating-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;

      .stars-container {
        width: 100px;
        height: 20px;
        display: flex;
        align-items: center;

        .star-icon {
          width: 15px;
          margin-right: 3px;
        }
      }

      .rating-text {
        color: white;
        font-size: 0.7rem;
        margin-top: -3px;
      }
    }
  }


}
