.bookSection {
  width: calc(100% - 65px);
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 15px;

  .priceLabel {
    font-size: 12px;
    color: #9F9F9F;
  }

  .priceContainer {
    flex: 1;
  }

  .regularPriceStyle {
    font-size: 22px;
    line-height: 25px;
    font-weight: 500;
    text-decoration-line: line-through;
    color: $COLOR_HEAD_TEXT;
  }

  .dealPriceStyle {
    font-size: 22px;
    line-height: 25px;
    font-weight: 500;
    color: $COLOR_PRIMARY;
  }

  .bookButtonContainer {
    width: 150px;
    height: 100%;
  }

  .bookButtonText {
    padding-top: 2px;
    font-size: 17px;
    font-weight: 500;
    color: white;
  }
}
