.Detail-container {
  width: 400px;
  margin: 250px auto 0;
  background: white;
  position: relative;
  // box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.15);

  @media screen and (max-width: 600px) {
    width: 100%;
    left: 0;
  }
}

.dotMark-container {
  width: calc(100% - 50px);
  position: relative;
  margin-top: 45px;
  padding-left: 50px;

  .dotMark {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #F3F3F3;
  }
}
