.lastBooking-container {
  padding-right: 15px;

  .headText {
    margin-bottom: 5px;
    font-size: 22px;
    color: $COLOR_HEAD_TEXT;
    font-weight: 600;
  }

  .buttonContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
  }

  .buttonWrapper {
    width: 170px;
    height: 40px;
    margin-right: 40px;
  }

  .buttonText {
    font-size: 17px;
    font-weight: 500;
    color: white;
  }
}
