.rating-container {
  padding-right: 15px;

  .headText {
    margin-bottom: 5px;
    font-size: 22px;
    color: $COLOR_HEAD_TEXT;
    font-weight: 600;
  }

  .starContainer {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
  }

  .star {
    width: 45px;
    height: 45px;
    margin: 0 5px;
  }
}
