.saving-container {
  padding-right: 15px;

  .headText {
    font-weight: 600;
    color: $COLOR_HEAD_TEXT;
    margin-bottom: 5px;
    font-size: 22px;
  }

  .savingAmountContainer {
    width: 100%;
    position: relative;
    height: 25px;
  }

  .savingAmountText {
    position: absolute;
    bottom: 3px;
    color: $COLOR_PRIMARY;
  }

  .rulerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
  }

  .rulerText {
    font-size: 13px;
    color: #8E8E8E;
  }

}

