.ShareToFriend-container {
  padding-right: 15px;
  margin-bottom: 40px;

  .headText {
    margin-bottom: 5px;
    font-size: 22px;
    color: $COLOR_HEAD_TEXT;
    font-weight: 600;
  }

  .button.purple {
    background: linear-gradient(to bottom right, #3023AE, #C86DD7);;
  }

  .buttonContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
  }

  .buttonWrapper {
    width: 190px;
    height: 40px;
    margin-right: 40px;
  }

  .icon {
    width: 15px;
    margin-right: 10px;
  }


  .buttonText {
    font-size: 17px;
    font-weight: 500;
    color: white;
  }
}
