.thingsToDo-container {
  width: 100%;

  .headText {
    color: $COLOR_HEAD_TEXT;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 22px;
  }
  .sliderDock-container {
    width: 100%;
    overflow-x: scroll;
  }

  .sliderDock {
    width: 1000px;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
}


