.timestamp-container {
  padding-right: 15px;

  .headContainer {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .icons {
    width: 23px;
    height: 23px;
    margin-right: 10px;
    margin-top: -3px;
  }

  .headerText {
    font-size: 22px;
    color: $COLOR_HEAD_TEXT;
    font-weight: 600;
  }

  .text {
    color: $COLOR_TEXT;
  }
}


