.topImageContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 330px;
  z-index: 100;

  .topImageWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .innerShadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
    }

    .cardTitleContainer {
      position: absolute;
      bottom: 20px;
      left: 20px;


      .flightTypeStyle {
        font-family: 'SF';
        font-weight: 300;
        color: white;
        font-size: 0.8rem;
      }

      .flightDeparture {
        ont-family: 'SF';
        font-weight: 300;
        color: white;
        font-size: 0.8rem;
      }

      .cardDestination {
        font-family: 'SF';
        font-weight: 700;
        color: white;
        font-size: 1.3rem;
        margin-top: 5px;
      }
    }

    .cardTagContainer {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 120px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-wrap: wrap;

      .tag-container {
        padding: 2px 7px;
        border-radius: 4px;
        margin-left: 10px;
        margin-bottom: 10px;
        box-shadow: 0 4px 12px 1px rgba(0 ,0, 0, 0.46);
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &.nonstop {
          background:  linear-gradient(to bottom right, #5EE3B5, #0DC73B);
        }

        &.mistake {
          background:  linear-gradient(to bottom right, #FAD961, #F76B1C);
        }

        &.red {
          background: $COLOR_GRADIENT_PRIMARY;
        }

        .tag-text {
          color: white;
        }
      }
    }
  }
}

.ImageSlider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
