@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  src: url('../fonts/Graphik/Graphik-Regular.otf');
}
@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  src: url('../fonts/Graphik/Graphik-Medium.otf');
}
@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  src: url('../fonts/Graphik/Graphik-Semibold.otf');
}
@font-face {
  font-family: 'Graphik';
  font-weight: 700;
  src: url('../fonts/Graphik/Graphik-Bold.otf');
}

@font-face {
  font-family: 'SF';
  font-weight: 400;
  src: url('../fonts/SF/SF-Pro-Text-Regular.otf');
}
@font-face {
  font-family: 'SF';
  font-weight: 500;
  src: url('../fonts/SF/SF-Pro-Text-Semibold.otf');
}
@font-face {
  font-family: 'SF';
  font-weight: 700;
  src: url('../fonts/SF/SF-Pro-Text-Bold.otf');
}
