body {
  margin: 0;
  padding: 0;
  font-family: 'Graphik', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Graphik', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.6rem;
  color: $COLOR_TEXT;
}
